
<!-- this page data is dynamic -->
<html>
    <head>
         <!-- for givng  the title open the elegator mouth  ,,,the title from the javascript file will sen d here in ejs file -->
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>Render from EJS View</h1>

    </body>
</html>
